/* cited source: https://youtu.be/cUF-q50DPPM */

#enterbtn {
  font-family: 'VT323', monospace;
  box-shadow: 0px 1px 2px 1px #172b29; 
  font-family: 'VT323', monospace;
  margin-left: 400px;
  margin-bottom: 300px;
  border-style: inset;
  border-right-color: #172b29;
  background-color: #c6c9ca;
  border-right-color: #484949;
  border-top-color: #eceaeb;  
  font-size: small;
  font-weight: 900;
  position: center fixed;
}

body {
  background: url("https://vignette.wikia.nocookie.net/world-of-media/images/7/77/Windows95_paint.png/revision/latest?cb=20140130123755") fixed;
  background-repeat: no-repeat;
  background-position: relative;
  background-size: auto;
  background-color: #657299;
  font-family:'Finger Paint', cursive;
  position: fixed;
}

audio {
  display: flex;
  padding-left: 650px;
  width: 50%;
  opacity: 70%;
  /* visibility: hidden; */
}

h1 {
  display: flex;
  padding-left: 160px;
  margin-top: 0px;
  font-size: 80px;
}

h2 {
  margin-bottom: 5px;
  font-size: 14px;
  padding-left: 200px;
  color: #fe00ff;
}

p {
  margin: 0;
  font-size: 9px;
  padding-left: 235px;
}

h4 {
  display: flex;
  justify-content: center;
  margin-left: 90px;
  font-size: 13px;
  position: center fixed;
  color: #00f;
}

#gametitle{
  margin-bottom: 5px;
}
