.gridboard {
display: grid;

}

/* body {
background-image: url("https://i.pinimg.com/736x/79/4e/7f/794e7f31490745cf183354a535707751.jpg");
background-position-x: right;
background-position-y: top;
background-repeat: no-repeat;
background-size: 760px;
} */
.all-holes {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  height: 100px;
  width: 400px;
  grid-row-gap: 40px;
  grid-column-gap:  160px;
  padding: 60px;
}

#m1 {
  background-color: palevioletred;
} 


#m2 {
  background-color: rgb(124, 216, 112);
}


#m3 {
  background-color: aquamarine;
}


#m4 {
  background-color: blueviolet;
}


#m5 {
  background-color: blue;
}


#m6 {
  background-color: chocolate;
}


#m7 {
  background-color: forestgreen;
}


#m8 {
  background-color: goldenrod;
}


#m9 {
  background-color: mediumslateblue;
} 
