.gridboard {
display: grid;
/* justify-content: center; */
/* padding-top: 50px; */
}
.all-holes {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  height: 100px;
  width: 400px;
  grid-row-gap: 40px;
  grid-column-gap:  160px;
  padding: 60px;
}

#m1 {
  background-color: palevioletred;
} 


#m2 {
  background-color: rgb(124, 216, 112);
}


#m3 {
  background-color: aquamarine;
}


#m4 {
  background-color: blueviolet;
}


#m5 {
  background-color: blue;
}


#m6 {
  background-color: chocolate;
}


#m7 {
  background-color: forestgreen;
}


#m8 {
  background-color: goldenrod;
}


#m9 {
  background-color: mediumslateblue;
} 
