/* cited source:https://css-tricks.com/perfect-full-page-background-image/ */
body {
display: flex;
background: url("https://techpubs.jurassic.nl/manuals/0650/enduser/SWin_UG/sgi_html/figures/swin.gif")no-repeat center center fixed;
background-repeat: no-repeat;
background-position: fixed;
background-size: 95%;
overflow: hidden;
}  

.all-holes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 245px;
  width: 245px;
  grid-gap: 40px;
  padding-top: 80px;
  padding-left: 280px;
  position: static;
}

#m1 {
  background-color: #037e00;
  border-style: inset;
} 


#m2 {
  background-color: red;
  border-style: inset;
}


#m3 {
  background-color: #06ffff; 
  border-style: inset;
}


#m4 {
  background-color: #00f;
  border-style: inset;
}


#m5 {
  background-color: #ffff03;
  border-style: inset;
}


#m6 {
  background-color:  #a0a0a4;
  border-style: inset;
}


#m7 {
  background-color: #06ff03; 
  border-style: inset;
}


#m8 {
  background-color: #fe00ff;
  border-style: inset;
}


#m9 {
  background-color:  #5500aa;
  border-style: inset;
} 

/* ADD SCOREBOARD*/

/* ADD PLAY BUTTON + SHADOW EFFECTS */
#btn {
  font-family: 'VT323', monospace;
  margin-bottom:  1000px;
}

.entryPage{
  font-family: 'VT323', monospace;
  color: #cde0e2;
}